<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Schlauer Typ</title>
		<meta property="og:title" content="Schlauer Typ" />
		<meta property="og:site_name" content="Schlauer Typ"/>
		<meta property="og:description" content="<%= message %>" />
		<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="resources/favicon.ico"/>
		<!--[if IE]>
		<link rel="shortcut icon" href="resources/favicon.ico"/>
		<![endif]-->
		<!-- Optional: Android & iPhone-->
		<link rel="apple-touch-icon-precomposed" href="resources/favicon-152.png"/>
		<!-- Optional: IE10 Tile.-->
		<meta name="msapplication-TileColor" content="#FFFFFF"/>
		<meta name="msapplication-TileImage" content="resources/favicon-144.png"/>
		<!-- Optional: ipads, androids, iphones, ...-->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="resources/favicon-152.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="resources/favicon-144.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="resources/favicon-120.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="resources/favicon-114.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="resources/favicon-72.png"/>
		<link rel="apple-touch-icon-precomposed" href="resources/favicon-57.png"/>
		<style>
			body {
				margin: 0;
			}
			h1 {
				margin: 0;
				font-size: 2em;
				font-weight: light;
				text-align: center;
				line-height: 100vh;
				vertical-align: middle;
			}
		</style>
	</head>
	<body>
		<h1><%= message %></h1>
	</body>
</html>
